In [1]:
import numpy as np
import pandas as pd
import pylab as plt
import datetime as dt
%matplotlib notebook

## Basic form
List comprehensions are a shortcut way to run a for loop

In [56]:
# get some data
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [9]:
darf = []  # make an empty list
for xx in iris.species:
    darf.append(xx.upper())
darf[0:5]

['SETOSA', 'SETOSA', 'SETOSA', 'SETOSA', 'SETOSA']

In [10]:
darflc = [xx.upper() for xx in iris.species]
darflc[0:5]

['SETOSA', 'SETOSA', 'SETOSA', 'SETOSA', 'SETOSA']

In [45]:
## compute the sum of each row
## The verbose way

tic = dt.datetime.now()
somesum = []
for row in iris.iterrows():
    somesum.append(sum(row[1][0:4]))
toc = dt.datetime.now()
print('Time: {}'.format(toc-tic))
#print(somesum)

Time: 0:00:00.039876

In [52]:
tic = dt.datetime.now()
somesum=[sum(row[1][0:4]) for row in iris.iterrows()]
toc = dt.datetime.now()
print('Time: {}'.format(toc-tic))

Time: 0:00:00.039181

Time: 0:00:00.001490

In [ ]:
## Conditional list comprehensions

In [57]:
set(iris.species)

{'setosa', 'versicolor', 'virginica'}

In [59]:
vflowers = []
for flower in iris.species:
    if flower.startswith('v'):
        vflowers.append(flower)
vflowers

['versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica']

In [60]:
vflowers = [xx for xx in iris.species if xx.startswith('v')]

In [62]:
hasanR = []
for xx in iris.species:
    if 'r' in xx:
        hasanR.append(True)
    else:
        hasanR.append(False)
hasanR

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True]

In [63]:
hasanR = [True if 'r' in xx else False for xx in iris.species]

In [65]:
# Built-in methods of a data frame
tic = dt.datetime.now()
iris.sum(axis=1)
toc = dt.datetime.now()
print('Time: {}'.format(toc-tic))

Time: 0:00:00.001827