In [ ]:
##########################################################################################
#                                                                                        #
#  888888b.  8888888 .d88888b.   .d8888b.     .d8888b.   .d8888b.      d8888      d8888  #
#  888  "88b   888  d88P" "Y88b d88P  Y88b   d88P  Y88b d88P  Y88b    d8P888     d8P888  #
#  888  .88P   888  888     888 Y88b.        888        888          d8P 888    d8P 888  #
#  8888888K.   888  888     888  "Y888b.     888d888b.  888d888b.   d8P  888   d8P  888  #
#  888  "Y88b  888  888     888     "Y88b.   888P "Y88b 888P "Y88b d88   888  d88   888  #
#  888    888  888  888     888       "888   888    888 888    888 8888888888 8888888888 #
#  888   d88P  888  Y88b. .d88P Y88b  d88P   Y88b  d88P Y88b  d88P       888        888  #
#  8888888P" 8888888 "Y88888P"   "Y8888P"     "Y8888P"   "Y8888P"        888        888  #
#                                                                                        # 
##########################################################################################
#
# Wrangle Synthetic Medical Record Data -- Part 2
#
##########################################################################################

## Fetch data
(This is the same data used in the previous homework--no need to re-fetch it)
Go here: https://drive.google.com/drive/folders/0B5Wu8z15TIbiLUhvcWxaMDJCRGs

Get this data set: 10000-Patients.zip

unzip it into the Data folder

In [1]:
import pandas as pd
import pylab as plt
import numpy as np
import datetime as dt

In [2]:
##  ###################################################################################################################
#
# You do:  
#    Ensure you have SQLite3 available to your system.  If not, install it via pip, conda, etc.
import sqlite3

In [3]:
# Read data in to data frames

p = pd.read_csv('../Data/PatientCorePopulatedTable.txt', header=0,sep = '\t')
a = pd.read_csv('../Data/AdmissionsCorePopulatedTable.txt', header=0, sep='\t')
d = pd.read_csv('../Data/AdmissionsDiagnosesCorePopulatedTable.txt', header=0, sep='\t')  
l = pd.read_csv('../Data/LabsCorePopulatedTable.txt', header=0, sep='\t')

In [ ]:
#p.loc[p.PatientID=='915BC24E-8C44-4D33-A386-CEA965B83F32']

In [5]:
type(p.PatientDateOfBirth[3])

str

In [6]:
# Convert date columns to pandas date objects
# Show the type
type(p.PatientDateOfBirth[3])

for table in [p,a,d,l]:
    for col in table.columns:
        if 'date' in col.lower():  #col.lower makes the string lower case 
            
            print('Converting {}'.format(col))
            table[col] = pd.to_datetime(table[col])

Converting PatientDateOfBirth
Converting AdmissionStartDate
Converting AdmissionEndDate
Converting LabDateTime

 SQLite3 is a "lightweight" database management system.  Within Python you create a "connection" to the dabaase 
 (here we called it "conn") and you can then send SQL queries to the connection, getting standard data frames in 
 return.

In [7]:
tic = dt.datetime.now()
conn = sqlite3.connect(':memory:')  # this makes an "in memory" database that isn't written to a disk.  You 
                                    # can replace this with a file name if you want to store the data for later
                                    # use.

print('Loading data into in-memory db--this could take a minute or two')
l.to_sql('L', conn, if_exists='replace')
d.to_sql('D', conn, if_exists='replace')
a.to_sql('A', conn, if_exists='replace')
p.to_sql('P', conn, if_exists='replace')

toc = dt.datetime.now()
print('{} seconds to load data'.format(toc-tic))

Loading data into in-memory db--this could take a minute or two
0:02:46.069703 seconds to load data

## Basic SQL queries

In [8]:
# To query via SQLite3, write a query as a Python string and "execute it" read_sql_query() method.
#
# Note:  If you are accessing data already in a different database managemnt system (MySQL/Access/etc) there are
#  interfaces available which give you a "conn" to that data as well.  You're not limited to SQLite with this
#  method.


sql = """
SELECT * from L
LIMIT 5
"""

df2 = pd.read_sql_query(sql, conn)
df2

,index,PatientID,AdmissionID,LabName,LabValue,LabUnits,LabDateTime
0,0,915BC24E-8C44-4D33-A386-CEA965B83F32,1,CBC: HEMATOCRIT,40.7,%,1946-09-07 22:20:26.677000
1,1,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: ANION GAP,8.4,mmol/L,1946-09-07 11:52:58.600000
2,2,915BC24E-8C44-4D33-A386-CEA965B83F32,1,CBC: LYMPHOCYTES,4.7,k/cumm,1946-09-07 06:08:57.303000
3,3,915BC24E-8C44-4D33-A386-CEA965B83F32,1,CBC: HEMOGLOBIN,15.9,gm/dl,1946-09-07 19:16:10.057000
4,4,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: SODIUM,146.6,mmol/L,1946-09-07 14:03:11.003000

In [9]:

# Use the WHERE statement

# Example: Query all labs from admission-id #3

sql = """
SELECT *
FROM L
WHERE AdmissionID==3;
"""
pd.read_sql_query(sql, conn)
#df2

,index,PatientID,AdmissionID,LabName,LabValue,LabUnits,LabDateTime
0,163,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: MCHC,31.6,g/dl,2008-10-08 10:11:47.543000
1,164,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: MCH,29.6,pg,2008-10-08 17:55:31.247000
2,165,915BC24E-8C44-4D33-A386-CEA965B83F32,3,METABOLIC: CREATININE,0.6,mg/dL,2008-10-08 15:36:59.533000
3,166,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: WHITE BLOOD CELL COUNT,11.4,k/cumm,2008-10-08 09:31:41.360000
4,167,915BC24E-8C44-4D33-A386-CEA965B83F32,3,METABOLIC: BUN,14.5,mg/dL,2008-10-08 07:56:07.697000
5,168,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: RDW,11.1,%,2008-10-08 03:24:55.450000
6,169,915BC24E-8C44-4D33-A386-CEA965B83F32,3,URINALYSIS: RED BLOOD CELLS,0.3,rbc/hpf,2008-10-08 23:39:43.667000
7,170,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: ABSOLUTE LYMPHOCYTES,23.1,%,2008-10-08 18:41:18.467000
8,171,915BC24E-8C44-4D33-A386-CEA965B83F32,3,METABOLIC: CARBON DIOXIDE,20.9,mmol/L,2008-10-08 04:50:40.677000
9,172,915BC24E-8C44-4D33-A386-CEA965B83F32,3,METABOLIC: GLUCOSE,93.1,mg/dL,2008-10-08 16:40:24.897000
10,173,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: LYMPHOCYTES,4.1,k/cumm,2008-10-08 08:00:13.640000
11,174,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: HEMATOCRIT,48.9,%,2008-10-08 20:53:19.207000
12,175,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: RED BLOOD CELL COUNT,5.3,m/cumm,2008-10-08 11:32:55.427000
13,176,915BC24E-8C44-4D33-A386-CEA965B83F32,3,METABOLIC: AST/SGOT,18.2,U/L,2008-10-08 18:48:01.083000
14,177,915BC24E-8C44-4D33-A386-CEA965B83F32,3,METABOLIC: CHLORIDE,104.7,mmol/L,2008-10-08 08:58:09.967000
15,178,915BC24E-8C44-4D33-A386-CEA965B83F32,3,METABOLIC: ANION GAP,12.0,mmol/L,2008-10-08 23:21:26.843000
16,179,915BC24E-8C44-4D33-A386-CEA965B83F32,3,METABOLIC: ALK PHOS,63.0,U/L,2008-10-08 08:34:52.200000
17,180,915BC24E-8C44-4D33-A386-CEA965B83F32,3,METABOLIC: SODIUM,139.7,mmol/L,2008-10-08 14:37:10.157000
18,181,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: PLATELET COUNT,150.8,k/cumm,2008-10-08 07:24:54.830000
19,182,915BC24E-8C44-4D33-A386-CEA965B83F32,3,METABOLIC: TOTAL PROTEIN,6.4,gm/dL,2008-10-08 18:39:39.447000
20,183,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: MEAN CORPUSCULAR VOLUME,85.9,fl,2008-10-09 01:14:28.547000
21,184,915BC24E-8C44-4D33-A386-CEA965B83F32,3,URINALYSIS: WHITE BLOOD CELLS,4.3,wbc/hpf,2008-10-08 21:28:16.323000
22,185,915BC24E-8C44-4D33-A386-CEA965B83F32,3,URINALYSIS: SPECIFIC GRAVITY,1.0,no unit,2008-10-08 23:44:22.673000
23,186,915BC24E-8C44-4D33-A386-CEA965B83F32,3,METABOLIC: CALCIUM,9.8,mg/dL,2008-10-08 23:40:59.667000
24,187,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: ABSOLUTE NEUTROPHILS,79.7,%,2008-10-08 07:16:26.673000
25,188,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: EOSINOPHILS,0.2,k/cumm,2008-10-08 14:26:13.910000
26,189,915BC24E-8C44-4D33-A386-CEA965B83F32,3,METABOLIC: BILI TOTAL,0.6,mg/dL,2008-10-08 13:29:03.403000
27,190,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: HEMOGLOBIN,17.1,gm/dl,2008-10-08 02:46:20.227000
28,191,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: NEUTROPHILS,6.9,k/cumm,2008-10-08 16:46:24.573000
29,192,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: MONOCYTES,0.2,k/cumm,2008-10-08 20:07:56.720000
...,...,...,...,...,...,...,...
2233549,10725981,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,CBC: MONOCYTES,0.8,k/cumm,2000-11-17 21:51:05
2233550,10725982,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,CBC: ABSOLUTE LYMPHOCYTES,16.4,%,2000-11-17 15:10:17.037000
2233551,10725983,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,METABOLIC: POTASSIUM,3.2,mmol/L,2000-11-18 12:39:58.280000
2233552,10725984,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,METABOLIC: CALCIUM,8.1,mg/dL,2000-11-18 01:21:39.147000
2233553,10725985,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,METABOLIC: BILI TOTAL,0.4,mg/dL,2000-11-18 16:58:42.987000
2233554,10725986,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,URINALYSIS: PH,7.4,no unit,2000-11-18 17:15:48.783000
2233555,10725987,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,URINALYSIS: RED BLOOD CELLS,0.9,rbc/hpf,2000-11-18 18:06:25.157000
2233556,10725988,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,METABOLIC: GLUCOSE,112.7,mg/dL,2000-11-18 14:38:10.687000
2233557,10725989,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,METABOLIC: ALBUMIN,5.8,gm/dL,2000-11-18 16:01:42.670000
2233558,10725990,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,METABOLIC: ALT/SGPT,24.7,U/L,2000-11-18 15:17:20.423000
2233559,10725991,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,CBC: BASOPHILS,0.1,k/cumm,2000-11-18 14:23:07.410000
2233560,10725992,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,URINALYSIS: SPECIFIC GRAVITY,1.0,no unit,2000-11-18 13:35:24.497000
2233561,10725993,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,CBC: ABSOLUTE NEUTROPHILS,75.0,%,2000-11-18 17:31:32.093000
2233562,10725994,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,CBC: PLATELET COUNT,313.9,k/cumm,2000-11-18 16:18:35.130000
2233563,10725995,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,METABOLIC: CALCIUM,9.2,mg/dL,2000-11-18 16:14:23.290000
2233564,10725996,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,METABOLIC: BUN,27.5,mg/dL,2000-11-18 17:21:37.717000
2233565,10725997,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,CBC: MCH,34.4,pg,2000-11-18 13:29:42.503000
2233566,10725998,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,CBC: HEMOGLOBIN,14.7,gm/dl,2000-11-18 13:16:09.337000
2233567,10725999,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,METABOLIC: ALK PHOS,49.4,U/L,2000-11-18 17:04:14.707000
2233568,10726000,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,METABOLIC: POTASSIUM,5.5,mmol/L,2000-11-18 15:51:00.477000
2233569,10726001,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,CBC: WHITE BLOOD CELL COUNT,11.5,k/cumm,2000-11-18 13:04:40.683000
2233570,10726002,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,CBC: NEUTROPHILS,5.8,k/cumm,2000-11-18 15:23:30.103000
2233571,10726003,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,CBC: MCHC,38.9,g/dl,2000-11-18 17:01:36.517000
2233572,10726004,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,CBC: HEMATOCRIT,41.0,%,2000-11-18 13:16:08.257000
2233573,10726005,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,METABOLIC: CREATININE,0.7,mg/dL,2000-11-18 17:16:08.573000
2233574,10726006,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,METABOLIC: AST/SGOT,20.4,U/L,2000-11-18 13:04:53.680000
2233575,10726007,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,URINALYSIS: WHITE BLOOD CELLS,3.6,wbc/hpf,2000-11-18 17:01:03.940000
2233576,10726008,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,CBC: MONOCYTES,1.0,k/cumm,2000-11-18 17:16:30.883000
2233577,10726009,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,METABOLIC: CHLORIDE,109.1,mmol/L,2000-11-18 13:09:46.813000
2233578,10726010,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,CBC: RDW,14.7,%,2000-11-18 15:03:38.533000

In [10]:
# Example: 
# Query just the time and value for CBC: MCHC labs from admission-id #3, ensuring they are sorted in time order


sql = """
SELECT LabDateTime AS Time, LabValue as Value
FROM L
WHERE AdmissionID=3 AND LabName LIKE "%MCHC"
ORDER BY Time
"""

df3 = pd.read_sql_query(sql, conn)
df3.head()

                         Time  Value
0  1948-10-17 08:30:55.433000   35.8
1  1948-10-18 23:34:59.213000   39.9
2  1948-10-19 09:20:36.913000   31.1
3  1948-10-21 22:42:59.537000   33.0
4  1948-10-23 05:08:27.097000   31.4

In [ ]:
# You would like to explore the relationship between lab-orders and depression
#
###################################################################################################################
#
# You do:
#  1) 
#   Generate a list of all (unique) diagnosis codes with the term "Major depressive disorder" in the description
#
#  2) Using a JOIN statement, join the Diagosis and Labs tables on PatientID and print the first 40 results

In [11]:
# 1)
sql = """
SELECT DISTINCT PrimaryDiagnosisCode AS Code, PrimaryDiagnosisDescription AS Description
FROM D
WHERE PrimaryDiagnosisDescription LIKE "Major depressive disorder%"
ORDER By Code
"""

df4 = pd.read_sql_query(sql, conn)
df4

      Code                                        Description
0      F32          Major depressive disorder, single episode
1    F32.0    Major depressive disorder, single episode, mild
2    F32.1  Major depressive disorder, single episode, mod...
3    F32.2  Major depressive disorder, single episode, sev...
4    F32.3  Major depressive disorder, single episode, sev...
5    F32.4  Major depressive disorder, single episode, in ...
6    F32.5  Major depressive disorder, single episode, in ...
7      F33               Major depressive disorder, recurrent
8    F33.0         Major depressive disorder, recurrent, mild
9    F33.1     Major depressive disorder, recurrent, moderate
10   F33.2  Major depressive disorder, recurrent severe wi...
11   F33.3  Major depressive disorder, recurrent, severe w...
12   F33.4  Major depressive disorder, recurrent, in remis...
13  F33.41  Major depressive disorder, recurrent, in parti...
14  F33.42  Major depressive disorder, recurrent, in full ...

In [32]:
# 2) 
# There are over 10 million rows in the labs table. It was taking way too long for my laptop to do this query with the 
# full data. (or maybe I was being really impatient.) Therefore, I limited it to 1 million to shorten the time. 

sql = """
SELECT * FROM L
INNER JOIN D
    ON L.PatientID = D.PatientID 
LIMIT 1000000
"""

# Printed the first 40 results
df5 = pd.read_sql_query(sql, conn)
df5[:40]

## Instructor Comment:
##  LIMIT 40 would have solved both problems :)

,index,PatientID,AdmissionID,LabName,LabValue,LabUnits,LabDateTime,index,PatientID,AdmissionID,PrimaryDiagnosisCode,PrimaryDiagnosisDescription
0,0,915BC24E-8C44-4D33-A386-CEA965B83F32,1,CBC: HEMATOCRIT,40.7,%,1946-09-07 22:20:26.677000,35331,915BC24E-8C44-4D33-A386-CEA965B83F32,1,M06.07,Rheumatoid arthritis without rheumatoid factor...
1,0,915BC24E-8C44-4D33-A386-CEA965B83F32,1,CBC: HEMATOCRIT,40.7,%,1946-09-07 22:20:26.677000,35332,915BC24E-8C44-4D33-A386-CEA965B83F32,2,F33.3,"Major depressive disorder, recurrent, severe w..."
2,0,915BC24E-8C44-4D33-A386-CEA965B83F32,1,CBC: HEMATOCRIT,40.7,%,1946-09-07 22:20:26.677000,35333,915BC24E-8C44-4D33-A386-CEA965B83F32,3,M49.84,Spondylopathy in diseases classified elsewhere...
3,1,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: ANION GAP,8.4,mmol/L,1946-09-07 11:52:58.600000,35331,915BC24E-8C44-4D33-A386-CEA965B83F32,1,M06.07,Rheumatoid arthritis without rheumatoid factor...
4,1,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: ANION GAP,8.4,mmol/L,1946-09-07 11:52:58.600000,35332,915BC24E-8C44-4D33-A386-CEA965B83F32,2,F33.3,"Major depressive disorder, recurrent, severe w..."
5,1,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: ANION GAP,8.4,mmol/L,1946-09-07 11:52:58.600000,35333,915BC24E-8C44-4D33-A386-CEA965B83F32,3,M49.84,Spondylopathy in diseases classified elsewhere...
6,2,915BC24E-8C44-4D33-A386-CEA965B83F32,1,CBC: LYMPHOCYTES,4.7,k/cumm,1946-09-07 06:08:57.303000,35331,915BC24E-8C44-4D33-A386-CEA965B83F32,1,M06.07,Rheumatoid arthritis without rheumatoid factor...
7,2,915BC24E-8C44-4D33-A386-CEA965B83F32,1,CBC: LYMPHOCYTES,4.7,k/cumm,1946-09-07 06:08:57.303000,35332,915BC24E-8C44-4D33-A386-CEA965B83F32,2,F33.3,"Major depressive disorder, recurrent, severe w..."
8,2,915BC24E-8C44-4D33-A386-CEA965B83F32,1,CBC: LYMPHOCYTES,4.7,k/cumm,1946-09-07 06:08:57.303000,35333,915BC24E-8C44-4D33-A386-CEA965B83F32,3,M49.84,Spondylopathy in diseases classified elsewhere...
9,3,915BC24E-8C44-4D33-A386-CEA965B83F32,1,CBC: HEMOGLOBIN,15.9,gm/dl,1946-09-07 19:16:10.057000,35331,915BC24E-8C44-4D33-A386-CEA965B83F32,1,M06.07,Rheumatoid arthritis without rheumatoid factor...
10,3,915BC24E-8C44-4D33-A386-CEA965B83F32,1,CBC: HEMOGLOBIN,15.9,gm/dl,1946-09-07 19:16:10.057000,35332,915BC24E-8C44-4D33-A386-CEA965B83F32,2,F33.3,"Major depressive disorder, recurrent, severe w..."
11,3,915BC24E-8C44-4D33-A386-CEA965B83F32,1,CBC: HEMOGLOBIN,15.9,gm/dl,1946-09-07 19:16:10.057000,35333,915BC24E-8C44-4D33-A386-CEA965B83F32,3,M49.84,Spondylopathy in diseases classified elsewhere...
12,4,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: SODIUM,146.6,mmol/L,1946-09-07 14:03:11.003000,35331,915BC24E-8C44-4D33-A386-CEA965B83F32,1,M06.07,Rheumatoid arthritis without rheumatoid factor...
13,4,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: SODIUM,146.6,mmol/L,1946-09-07 14:03:11.003000,35332,915BC24E-8C44-4D33-A386-CEA965B83F32,2,F33.3,"Major depressive disorder, recurrent, severe w..."
14,4,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: SODIUM,146.6,mmol/L,1946-09-07 14:03:11.003000,35333,915BC24E-8C44-4D33-A386-CEA965B83F32,3,M49.84,Spondylopathy in diseases classified elsewhere...
15,5,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: ALBUMIN,3.3,gm/dL,1946-09-08 04:06:53.967000,35331,915BC24E-8C44-4D33-A386-CEA965B83F32,1,M06.07,Rheumatoid arthritis without rheumatoid factor...
16,5,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: ALBUMIN,3.3,gm/dL,1946-09-08 04:06:53.967000,35332,915BC24E-8C44-4D33-A386-CEA965B83F32,2,F33.3,"Major depressive disorder, recurrent, severe w..."
17,5,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: ALBUMIN,3.3,gm/dL,1946-09-08 04:06:53.967000,35333,915BC24E-8C44-4D33-A386-CEA965B83F32,3,M49.84,Spondylopathy in diseases classified elsewhere...
18,6,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: BUN,17.1,mg/dL,1946-09-07 19:41:39.247000,35331,915BC24E-8C44-4D33-A386-CEA965B83F32,1,M06.07,Rheumatoid arthritis without rheumatoid factor...
19,6,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: BUN,17.1,mg/dL,1946-09-07 19:41:39.247000,35332,915BC24E-8C44-4D33-A386-CEA965B83F32,2,F33.3,"Major depressive disorder, recurrent, severe w..."
20,6,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: BUN,17.1,mg/dL,1946-09-07 19:41:39.247000,35333,915BC24E-8C44-4D33-A386-CEA965B83F32,3,M49.84,Spondylopathy in diseases classified elsewhere...
21,7,915BC24E-8C44-4D33-A386-CEA965B83F32,1,CBC: NEUTROPHILS,8.4,k/cumm,1946-09-07 05:33:34.320000,35331,915BC24E-8C44-4D33-A386-CEA965B83F32,1,M06.07,Rheumatoid arthritis without rheumatoid factor...
22,7,915BC24E-8C44-4D33-A386-CEA965B83F32,1,CBC: NEUTROPHILS,8.4,k/cumm,1946-09-07 05:33:34.320000,35332,915BC24E-8C44-4D33-A386-CEA965B83F32,2,F33.3,"Major depressive disorder, recurrent, severe w..."
23,7,915BC24E-8C44-4D33-A386-CEA965B83F32,1,CBC: NEUTROPHILS,8.4,k/cumm,1946-09-07 05:33:34.320000,35333,915BC24E-8C44-4D33-A386-CEA965B83F32,3,M49.84,Spondylopathy in diseases classified elsewhere...
24,8,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: CALCIUM,8.7,mg/dL,1946-09-07 16:23:41.213000,35331,915BC24E-8C44-4D33-A386-CEA965B83F32,1,M06.07,Rheumatoid arthritis without rheumatoid factor...
25,8,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: CALCIUM,8.7,mg/dL,1946-09-07 16:23:41.213000,35332,915BC24E-8C44-4D33-A386-CEA965B83F32,2,F33.3,"Major depressive disorder, recurrent, severe w..."
26,8,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: CALCIUM,8.7,mg/dL,1946-09-07 16:23:41.213000,35333,915BC24E-8C44-4D33-A386-CEA965B83F32,3,M49.84,Spondylopathy in diseases classified elsewhere...
27,9,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: GLUCOSE,110.5,mg/dL,1946-09-07 09:40:39.467000,35331,915BC24E-8C44-4D33-A386-CEA965B83F32,1,M06.07,Rheumatoid arthritis without rheumatoid factor...
28,9,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: GLUCOSE,110.5,mg/dL,1946-09-07 09:40:39.467000,35332,915BC24E-8C44-4D33-A386-CEA965B83F32,2,F33.3,"Major depressive disorder, recurrent, severe w..."
29,9,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: GLUCOSE,110.5,mg/dL,1946-09-07 09:40:39.467000,35333,915BC24E-8C44-4D33-A386-CEA965B83F32,3,M49.84,Spondylopathy in diseases classified elsewhere...
30,10,915BC24E-8C44-4D33-A386-CEA965B83F32,1,URINALYSIS: PH,5.5,no unit,1946-09-07 05:37:45.880000,35331,915BC24E-8C44-4D33-A386-CEA965B83F32,1,M06.07,Rheumatoid arthritis without rheumatoid factor...
31,10,915BC24E-8C44-4D33-A386-CEA965B83F32,1,URINALYSIS: PH,5.5,no unit,1946-09-07 05:37:45.880000,35332,915BC24E-8C44-4D33-A386-CEA965B83F32,2,F33.3,"Major depressive disorder, recurrent, severe w..."
32,10,915BC24E-8C44-4D33-A386-CEA965B83F32,1,URINALYSIS: PH,5.5,no unit,1946-09-07 05:37:45.880000,35333,915BC24E-8C44-4D33-A386-CEA965B83F32,3,M49.84,Spondylopathy in diseases classified elsewhere...
33,11,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: BILI TOTAL,0.3,mg/dL,1946-09-08 02:06:16.087000,35331,915BC24E-8C44-4D33-A386-CEA965B83F32,1,M06.07,Rheumatoid arthritis without rheumatoid factor...
34,11,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: BILI TOTAL,0.3,mg/dL,1946-09-08 02:06:16.087000,35332,915BC24E-8C44-4D33-A386-CEA965B83F32,2,F33.3,"Major depressive disorder, recurrent, severe w..."
35,11,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: BILI TOTAL,0.3,mg/dL,1946-09-08 02:06:16.087000,35333,915BC24E-8C44-4D33-A386-CEA965B83F32,3,M49.84,Spondylopathy in diseases classified elsewhere...
36,12,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: POTASSIUM,5.3,mmol/L,1946-09-07 10:18:37.693000,35331,915BC24E-8C44-4D33-A386-CEA965B83F32,1,M06.07,Rheumatoid arthritis without rheumatoid factor...
37,12,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: POTASSIUM,5.3,mmol/L,1946-09-07 10:18:37.693000,35332,915BC24E-8C44-4D33-A386-CEA965B83F32,2,F33.3,"Major depressive disorder, recurrent, severe w..."
38,12,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: POTASSIUM,5.3,mmol/L,1946-09-07 10:18:37.693000,35333,915BC24E-8C44-4D33-A386-CEA965B83F32,3,M49.84,Spondylopathy in diseases classified elsewhere...
39,13,915BC24E-8C44-4D33-A386-CEA965B83F32,1,URINALYSIS: RED BLOOD CELLS,2.2,rbc/hpf,1946-09-07 09:57:38.487000,35331,915BC24E-8C44-4D33-A386-CEA965B83F32,1,M06.07,Rheumatoid arthritis without rheumatoid factor...

In [30]:
d.shape

(36143, 4)

In [31]:
l.shape # A huge table!

(10726505, 6)

In [33]:

###################################################################################################################
#
# You do:
#  1) Create a list of each lab name ordered and it's count for any patient who also had a diagnosis which 
#     includes the term "Major depressive disorder"

# Remove duplicated columns from the df
df6 = df5.loc[:,~df5.columns.duplicated()]

# Save the Lab/ Diagnosis to the connection 
df6.to_sql('LD', conn, if_exists='replace')

In [34]:
df6.head()

,index,PatientID,AdmissionID,LabName,LabValue,LabUnits,LabDateTime,PrimaryDiagnosisCode,PrimaryDiagnosisDescription
0,0,915BC24E-8C44-4D33-A386-CEA965B83F32,1,CBC: HEMATOCRIT,40.7,%,1946-09-07 22:20:26.677000,M06.07,Rheumatoid arthritis without rheumatoid factor...
1,0,915BC24E-8C44-4D33-A386-CEA965B83F32,1,CBC: HEMATOCRIT,40.7,%,1946-09-07 22:20:26.677000,F33.3,"Major depressive disorder, recurrent, severe w..."
2,0,915BC24E-8C44-4D33-A386-CEA965B83F32,1,CBC: HEMATOCRIT,40.7,%,1946-09-07 22:20:26.677000,M49.84,Spondylopathy in diseases classified elsewhere...
3,1,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: ANION GAP,8.4,mmol/L,1946-09-07 11:52:58.600000,M06.07,Rheumatoid arthritis without rheumatoid factor...
4,1,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: ANION GAP,8.4,mmol/L,1946-09-07 11:52:58.600000,F33.3,"Major depressive disorder, recurrent, severe w..."

In [48]:
sql = """
SELECT COUNT(LabName) AS Count, LabName
FROM LD
WHERE PrimaryDiagnosisDescription LIKE "Major depressive disorder%"
GROUP BY LabName
ORDER By LabName
"""

df7 = pd.read_sql_query(sql, conn)
df7

    Count                        LabName
0     225      CBC: ABSOLUTE LYMPHOCYTES
1     221      CBC: ABSOLUTE NEUTROPHILS
2     231                 CBC: BASOPHILS
3     231               CBC: EOSINOPHILS
4     229                CBC: HEMATOCRIT
5     226                CBC: HEMOGLOBIN
6     226               CBC: LYMPHOCYTES
7     218                       CBC: MCH
8     219                      CBC: MCHC
9     230   CBC: MEAN CORPUSCULAR VOLUME
10    227                 CBC: MONOCYTES
11    221               CBC: NEUTROPHILS
12    225            CBC: PLATELET COUNT
13    230                       CBC: RDW
14    231      CBC: RED BLOOD CELL COUNT
15    228    CBC: WHITE BLOOD CELL COUNT
16    229             METABOLIC: ALBUMIN
17    229            METABOLIC: ALK PHOS
18    228            METABOLIC: ALT/SGPT
19    226           METABOLIC: ANION GAP
20    227            METABOLIC: AST/SGOT
21    220          METABOLIC: BILI TOTAL
22    235                 METABOLIC: BUN
23    230             METABOLIC: CALCIUM
24    229      METABOLIC: CARBON DIOXIDE
25    210            METABOLIC: CHLORIDE
26    240          METABOLIC: CREATININE
27    218             METABOLIC: GLUCOSE
28    228           METABOLIC: POTASSIUM
29    224              METABOLIC: SODIUM
30    239       METABOLIC: TOTAL PROTEIN
31    236                 URINALYSIS: PH
32    223    URINALYSIS: RED BLOOD CELLS
33    233   URINALYSIS: SPECIFIC GRAVITY
34    232  URINALYSIS: WHITE BLOOD CELLS

In [ ]:
## Instructor comment
##  I got the same order, but much different count numbers.  I'm not quite sure why, but I'll show my 
##  solution in class