In [1]:
##########################################################################################
#                                                                                        #
#  888888b.  8888888 .d88888b.   .d8888b.     .d8888b.   .d8888b.      d8888      d8888  #
#  888  "88b   888  d88P" "Y88b d88P  Y88b   d88P  Y88b d88P  Y88b    d8P888     d8P888  #
#  888  .88P   888  888     888 Y88b.        888        888          d8P 888    d8P 888  #
#  8888888K.   888  888     888  "Y888b.     888d888b.  888d888b.   d8P  888   d8P  888  #
#  888  "Y88b  888  888     888     "Y88b.   888P "Y88b 888P "Y88b d88   888  d88   888  #
#  888    888  888  888     888       "888   888    888 888    888 8888888888 8888888888 #
#  888   d88P  888  Y88b. .d88P Y88b  d88P   Y88b  d88P Y88b  d88P       888        888  #
#  8888888P" 8888888 "Y88888P"   "Y8888P"     "Y8888P"   "Y8888P"        888        888  #
#                                                                                        # 
##########################################################################################
#
# Wrangle Synthetic Medical Record Data -- Part 2
#
##########################################################################################

## Fetch data
(This is the same data used in the previous homework--no need to re-fetch it)
Go here: https://drive.google.com/drive/folders/0B5Wu8z15TIbiLUhvcWxaMDJCRGs

Get this data set: 10000-Patients.zip

unzip it into the Data folder

In [1]:
import pandas as pd
import pylab as plt
import numpy as np
import datetime as dt

In [2]:
##  ###################################################################################################################
#
# You do:  
#    Ensure you have SQLite3 available to your system.  If not, install it via pip, conda, etc.
import sqlite3

In [3]:
# Read data in to data frames

p = pd.read_csv('../Data/PatientCorePopulatedTable.txt', header=0, sep = '\t')
a = pd.read_csv('../Data/AdmissionsCorePopulatedTable.txt', header=0, sep='\t')
d = pd.read_csv('../Data/AdmissionsDiagnosesCorePopulatedTable.txt', header=0, sep='\t')  
l = pd.read_csv('../Data/LabsCorePopulatedTable.txt', header=0, sep='\t')

In [4]:
p.loc[p.PatientID=='915BC24E-8C44-4D33-A386-CEA965B83F32']

,PatientID,PatientGender,PatientDateOfBirth,PatientRace,PatientMaritalStatus,PatientLanguage,PatientPopulationPercentageBelowPoverty
9687,915BC24E-8C44-4D33-A386-CEA965B83F32,Male,1921-12-20 07:51:09.003,Asian,Single,English,15.95

In [5]:
# Convert date columns to pandas date objects
# Show the type


for table in [p,a,d,l]:
    for col in table.columns:
        if 'date' in col.lower():
            print('Converting {}'.format(col))
            table[col] = pd.to_datetime(table[col])
            
type(p.PatientDateOfBirth[3])

Converting PatientDateOfBirth
Converting AdmissionStartDate
Converting AdmissionEndDate
Converting LabDateTime

pandas._libs.tslibs.timestamps.Timestamp

 SQLite3 is a "lightweight" database management system.  Within Python you create a "connection" to the dabaase 
 (here we called it "conn") and you can then send SQL queries to the connection, getting standard data frames in 
 return.

In [6]:

conn = sqlite3.connect(':memory:')  # this makes an "in memory" database that isn't written to a disk.  You 
                                    # can replace this with a file name if you want to store the data for later
                                    # use.

print('Loading data into in-memory db--this could take a minute or two')
l.to_sql('L', conn, if_exists='replace')
d.to_sql('D', conn, if_exists='replace')
a.to_sql('A', conn, if_exists='replace')
p.to_sql('P', conn, if_exists='replace')

Loading data into in-memory db--this could take a minute or two

## Basic SQL queries

In [7]:
# To query via SQLite3, write a query as a Python string and "execute it" read_sql_query() method.
#
# Note:  If you are accessing data already in a different database managemnt system (MySQL/Access/etc) there are
#  interfaces available which give you a "conn" to that data as well.  You're not limited to SQLite with this
#  method.


sql = """
SELECT * from L
LIMIT 10
"""

df2 = pd.read_sql_query(sql, conn)
df2

,index,PatientID,AdmissionID,LabName,LabValue,LabUnits,LabDateTime
0,0,915BC24E-8C44-4D33-A386-CEA965B83F32,1,CBC: HEMATOCRIT,40.7,%,1946-09-07 22:20:26.677000
1,1,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: ANION GAP,8.4,mmol/L,1946-09-07 11:52:58.600000
2,2,915BC24E-8C44-4D33-A386-CEA965B83F32,1,CBC: LYMPHOCYTES,4.7,k/cumm,1946-09-07 06:08:57.303000
3,3,915BC24E-8C44-4D33-A386-CEA965B83F32,1,CBC: HEMOGLOBIN,15.9,gm/dl,1946-09-07 19:16:10.057000
4,4,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: SODIUM,146.6,mmol/L,1946-09-07 14:03:11.003000
5,5,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: ALBUMIN,3.3,gm/dL,1946-09-08 04:06:53.967000
6,6,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: BUN,17.1,mg/dL,1946-09-07 19:41:39.247000
7,7,915BC24E-8C44-4D33-A386-CEA965B83F32,1,CBC: NEUTROPHILS,8.4,k/cumm,1946-09-07 05:33:34.320000
8,8,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: CALCIUM,8.7,mg/dL,1946-09-07 16:23:41.213000
9,9,915BC24E-8C44-4D33-A386-CEA965B83F32,1,METABOLIC: GLUCOSE,110.5,mg/dL,1946-09-07 09:40:39.467000

In [8]:

# Use the WHERE statement

# Example: Query all labs from admission-id #3

sql = """
SELECT *
FROM L
WHERE AdmissionID==3;
"""
pd.read_sql_query(sql, conn)
#df2

,index,PatientID,AdmissionID,LabName,LabValue,LabUnits,LabDateTime
0,163,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: MCHC,31.6,g/dl,2008-10-08 10:11:47.543000
1,164,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: MCH,29.6,pg,2008-10-08 17:55:31.247000
2,165,915BC24E-8C44-4D33-A386-CEA965B83F32,3,METABOLIC: CREATININE,0.6,mg/dL,2008-10-08 15:36:59.533000
3,166,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: WHITE BLOOD CELL COUNT,11.4,k/cumm,2008-10-08 09:31:41.360000
4,167,915BC24E-8C44-4D33-A386-CEA965B83F32,3,METABOLIC: BUN,14.5,mg/dL,2008-10-08 07:56:07.697000
5,168,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: RDW,11.1,%,2008-10-08 03:24:55.450000
6,169,915BC24E-8C44-4D33-A386-CEA965B83F32,3,URINALYSIS: RED BLOOD CELLS,0.3,rbc/hpf,2008-10-08 23:39:43.667000
7,170,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: ABSOLUTE LYMPHOCYTES,23.1,%,2008-10-08 18:41:18.467000
8,171,915BC24E-8C44-4D33-A386-CEA965B83F32,3,METABOLIC: CARBON DIOXIDE,20.9,mmol/L,2008-10-08 04:50:40.677000
9,172,915BC24E-8C44-4D33-A386-CEA965B83F32,3,METABOLIC: GLUCOSE,93.1,mg/dL,2008-10-08 16:40:24.897000
10,173,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: LYMPHOCYTES,4.1,k/cumm,2008-10-08 08:00:13.640000
11,174,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: HEMATOCRIT,48.9,%,2008-10-08 20:53:19.207000
12,175,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: RED BLOOD CELL COUNT,5.3,m/cumm,2008-10-08 11:32:55.427000
13,176,915BC24E-8C44-4D33-A386-CEA965B83F32,3,METABOLIC: AST/SGOT,18.2,U/L,2008-10-08 18:48:01.083000
14,177,915BC24E-8C44-4D33-A386-CEA965B83F32,3,METABOLIC: CHLORIDE,104.7,mmol/L,2008-10-08 08:58:09.967000
15,178,915BC24E-8C44-4D33-A386-CEA965B83F32,3,METABOLIC: ANION GAP,12.0,mmol/L,2008-10-08 23:21:26.843000
16,179,915BC24E-8C44-4D33-A386-CEA965B83F32,3,METABOLIC: ALK PHOS,63.0,U/L,2008-10-08 08:34:52.200000
17,180,915BC24E-8C44-4D33-A386-CEA965B83F32,3,METABOLIC: SODIUM,139.7,mmol/L,2008-10-08 14:37:10.157000
18,181,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: PLATELET COUNT,150.8,k/cumm,2008-10-08 07:24:54.830000
19,182,915BC24E-8C44-4D33-A386-CEA965B83F32,3,METABOLIC: TOTAL PROTEIN,6.4,gm/dL,2008-10-08 18:39:39.447000
20,183,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: MEAN CORPUSCULAR VOLUME,85.9,fl,2008-10-09 01:14:28.547000
21,184,915BC24E-8C44-4D33-A386-CEA965B83F32,3,URINALYSIS: WHITE BLOOD CELLS,4.3,wbc/hpf,2008-10-08 21:28:16.323000
22,185,915BC24E-8C44-4D33-A386-CEA965B83F32,3,URINALYSIS: SPECIFIC GRAVITY,1.0,no unit,2008-10-08 23:44:22.673000
23,186,915BC24E-8C44-4D33-A386-CEA965B83F32,3,METABOLIC: CALCIUM,9.8,mg/dL,2008-10-08 23:40:59.667000
24,187,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: ABSOLUTE NEUTROPHILS,79.7,%,2008-10-08 07:16:26.673000
25,188,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: EOSINOPHILS,0.2,k/cumm,2008-10-08 14:26:13.910000
26,189,915BC24E-8C44-4D33-A386-CEA965B83F32,3,METABOLIC: BILI TOTAL,0.6,mg/dL,2008-10-08 13:29:03.403000
27,190,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: HEMOGLOBIN,17.1,gm/dl,2008-10-08 02:46:20.227000
28,191,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: NEUTROPHILS,6.9,k/cumm,2008-10-08 16:46:24.573000
29,192,915BC24E-8C44-4D33-A386-CEA965B83F32,3,CBC: MONOCYTES,0.2,k/cumm,2008-10-08 20:07:56.720000
...,...,...,...,...,...,...,...
2233549,10725981,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,CBC: MONOCYTES,0.8,k/cumm,2000-11-17 21:51:05
2233550,10725982,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,CBC: ABSOLUTE LYMPHOCYTES,16.4,%,2000-11-17 15:10:17.037000
2233551,10725983,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,METABOLIC: POTASSIUM,3.2,mmol/L,2000-11-18 12:39:58.280000
2233552,10725984,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,METABOLIC: CALCIUM,8.1,mg/dL,2000-11-18 01:21:39.147000
2233553,10725985,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,METABOLIC: BILI TOTAL,0.4,mg/dL,2000-11-18 16:58:42.987000
2233554,10725986,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,URINALYSIS: PH,7.4,no unit,2000-11-18 17:15:48.783000
2233555,10725987,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,URINALYSIS: RED BLOOD CELLS,0.9,rbc/hpf,2000-11-18 18:06:25.157000
2233556,10725988,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,METABOLIC: GLUCOSE,112.7,mg/dL,2000-11-18 14:38:10.687000
2233557,10725989,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,METABOLIC: ALBUMIN,5.8,gm/dL,2000-11-18 16:01:42.670000
2233558,10725990,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,METABOLIC: ALT/SGPT,24.7,U/L,2000-11-18 15:17:20.423000
2233559,10725991,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,CBC: BASOPHILS,0.1,k/cumm,2000-11-18 14:23:07.410000
2233560,10725992,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,URINALYSIS: SPECIFIC GRAVITY,1.0,no unit,2000-11-18 13:35:24.497000
2233561,10725993,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,CBC: ABSOLUTE NEUTROPHILS,75.0,%,2000-11-18 17:31:32.093000
2233562,10725994,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,CBC: PLATELET COUNT,313.9,k/cumm,2000-11-18 16:18:35.130000
2233563,10725995,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,METABOLIC: CALCIUM,9.2,mg/dL,2000-11-18 16:14:23.290000
2233564,10725996,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,METABOLIC: BUN,27.5,mg/dL,2000-11-18 17:21:37.717000
2233565,10725997,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,CBC: MCH,34.4,pg,2000-11-18 13:29:42.503000
2233566,10725998,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,CBC: HEMOGLOBIN,14.7,gm/dl,2000-11-18 13:16:09.337000
2233567,10725999,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,METABOLIC: ALK PHOS,49.4,U/L,2000-11-18 17:04:14.707000
2233568,10726000,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,METABOLIC: POTASSIUM,5.5,mmol/L,2000-11-18 15:51:00.477000
2233569,10726001,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,CBC: WHITE BLOOD CELL COUNT,11.5,k/cumm,2000-11-18 13:04:40.683000
2233570,10726002,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,CBC: NEUTROPHILS,5.8,k/cumm,2000-11-18 15:23:30.103000
2233571,10726003,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,CBC: MCHC,38.9,g/dl,2000-11-18 17:01:36.517000
2233572,10726004,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,CBC: HEMATOCRIT,41.0,%,2000-11-18 13:16:08.257000
2233573,10726005,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,METABOLIC: CREATININE,0.7,mg/dL,2000-11-18 17:16:08.573000
2233574,10726006,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,METABOLIC: AST/SGOT,20.4,U/L,2000-11-18 13:04:53.680000
2233575,10726007,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,URINALYSIS: WHITE BLOOD CELLS,3.6,wbc/hpf,2000-11-18 17:01:03.940000
2233576,10726008,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,CBC: MONOCYTES,1.0,k/cumm,2000-11-18 17:16:30.883000
2233577,10726009,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,METABOLIC: CHLORIDE,109.1,mmol/L,2000-11-18 13:09:46.813000
2233578,10726010,79F36FCF-9126-4D17-B42C-DDD9922FC3EF,3,CBC: RDW,14.7,%,2000-11-18 15:03:38.533000

In [9]:
# Example: 
# Query just the time and value for CBC: MCHC labs from admission-id #3, ensuring they are sorted in time order


sql = """
SELECT LabDateTime AS Time, LabValue as Value
FROM L
WHERE AdmissionID==3 AND LabName LIKE "%MCHC"
ORDER BY Time
"""

df3 = pd.read_sql_query(sql, conn)
df3.head()

                         Time  Value
0  1948-10-17 08:30:55.433000   35.8
1  1948-10-18 23:34:59.213000   39.9
2  1948-10-19 09:20:36.913000   31.1
3  1948-10-21 22:42:59.537000   33.0
4  1948-10-23 05:08:27.097000   31.4

In [34]:
# You would like to explore the relationship between lab-orders and depression
#
###################################################################################################################
#
# You do:
#  1) 
#   Generate a list of all (unique) diagnosis codes with the term "Major depressive disorder" in the description
#
#  2) Using a JOIN statement, join the Diagosis and Labs tables on PatientID and print the first 40 results

In [10]:
# 1) #this does not bring anything up using Major depressive disorder, so I am using bipolar disorder instead
sql = """
SELECT PatientID as ID, PrimaryDiagnosisDescription AS Diagnosis, PrimaryDiagnosisCode as Code
FROM D
WHERE Diagnosis LIKE "%Major depressive disorder%"
GROUP by Code
ORDER by ID
"""

df4 = pd.read_sql_query(sql, conn)
df4

,ID,Diagnosis,Code
0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0
1,26D1B1B8-B88A-43B3-A021-4DDFDDD962DF,"Major depressive disorder, single episode, sev...",F32.2
2,4F306452-5265-415E-88CB-31C1687FAE77,"Major depressive disorder, recurrent, in full ...",F33.42
3,65EFE359-E8FC-4D83-B9E8-1FAC2DC0EFCB,"Major depressive disorder, recurrent severe wi...",F33.2
4,7C93E968-CEA7-4C24-9B81-EB0C68EE8C95,"Major depressive disorder, recurrent",F33
5,7EDEB6AB-5899-4108-870B-DA34560A382A,"Major depressive disorder, recurrent, in remis...",F33.4
6,94439494-12D4-401F-8FA9-3C287D549975,"Major depressive disorder, single episode, mod...",F32.1
7,BA0E0A19-271E-4017-A66F-992313E3ABD1,"Major depressive disorder, single episode, sev...",F32.3
8,D3D61876-29DF-4D74-B38F-ADF443312F5F,"Major depressive disorder, recurrent, in parti...",F33.41
9,DB72537D-B65E-46BC-B2F9-5F7F0D8A7D60,"Major depressive disorder, recurrent, severe w...",F33.3
10,E43B6055-237E-48B8-A4AD-152131A18F47,"Major depressive disorder, recurrent, mild",F33.0
11,E7E57034-FB72-457D-A6DC-AD0769B1E99B,"Major depressive disorder, recurrent, moderate",F33.1
12,EEB94FF2-5E61-4B22-AB77-4F53B8932178,"Major depressive disorder, single episode, in ...",F32.4
13,FCF46BBA-2693-4DF8-B3CA-C28283778276,"Major depressive disorder, single episode",F32
14,FF7D0FAC-18C4-4D0B-8FDD-91152493F9C6,"Major depressive disorder, single episode, in ...",F32.5

In [11]:
df3.to_sql('DF3', conn, if_exists='replace')
df4.to_sql('DF4', conn, if_exists='replace')

In [12]:

sql = """
SELECT *
FROM DF4
LEFT JOIN L
ON DF4.ID==L.PatientID
ORDER by PatientID
LIMIT 40
"""

df5 = pd.read_sql_query(sql, conn)
df5

# I wonder with the following table how do we get rid of the duplicate columns?

,index,ID,Diagnosis,Code,index,PatientID,AdmissionID,LabName,LabValue,LabUnits,LabDateTime
0,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472527,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,CBC: RDW,10.8,%,2006-04-22 09:37:15.650000
1,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472528,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,METABOLIC: CHLORIDE,92.6,mmol/L,2006-04-22 06:21:06.997000
2,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472529,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,METABOLIC: ANION GAP,11.9,mmol/L,2006-04-21 10:57:12.733000
3,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472530,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,METABOLIC: CALCIUM,11.2,mg/dL,2006-04-22 05:00:38.280000
4,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472531,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,CBC: MONOCYTES,0.5,k/cumm,2006-04-21 18:16:29.640000
5,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472532,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,METABOLIC: TOTAL PROTEIN,5.6,gm/dL,2006-04-22 07:24:51.390000
6,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472533,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,CBC: ABSOLUTE LYMPHOCYTES,21.9,%,2006-04-22 03:42:08.930000
7,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472534,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,CBC: ABSOLUTE NEUTROPHILS,69.0,%,2006-04-22 00:37:43.837000
8,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472535,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,URINALYSIS: SPECIFIC GRAVITY,1.0,no unit,2006-04-21 22:41:10.073000
9,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472536,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,CBC: MEAN CORPUSCULAR VOLUME,88.1,fl,2006-04-22 07:35:59.610000
10,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472537,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,METABOLIC: POTASSIUM,4.5,mmol/L,2006-04-21 12:27:42.797000
11,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472538,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,CBC: WHITE BLOOD CELL COUNT,9.9,k/cumm,2006-04-21 23:37:46.423000
12,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472539,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,METABOLIC: ALBUMIN,5.7,gm/dL,2006-04-22 00:51:49.387000
13,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472540,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,METABOLIC: SODIUM,149.6,mmol/L,2006-04-22 01:16:07.780000
14,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472541,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,URINALYSIS: PH,6.7,no unit,2006-04-22 07:42:18.177000
15,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472542,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,CBC: PLATELET COUNT,444.5,k/cumm,2006-04-21 11:41:15.560000
16,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472543,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,METABOLIC: ALK PHOS,60.0,U/L,2006-04-21 21:31:07.850000
17,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472544,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,METABOLIC: CARBON DIOXIDE,30.8,mmol/L,2006-04-22 09:51:46.710000
18,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472545,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,METABOLIC: AST/SGOT,20.7,U/L,2006-04-21 22:34:23.893000
19,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472546,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,CBC: NEUTROPHILS,6.5,k/cumm,2006-04-21 20:10:22.580000
20,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472547,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,CBC: HEMOGLOBIN,12.9,gm/dl,2006-04-21 12:36:54.357000
21,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472548,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,METABOLIC: ALT/SGPT,31.9,U/L,2006-04-21 19:43:30.437000
22,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472549,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,METABOLIC: BUN,8.3,mg/dL,2006-04-21 22:43:43
23,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472550,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,METABOLIC: CREATININE,1.1,mg/dL,2006-04-21 14:42:36.783000
24,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472551,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,CBC: MCHC,39.9,g/dl,2006-04-21 12:09:15.920000
25,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472552,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,URINALYSIS: RED BLOOD CELLS,2.3,rbc/hpf,2006-04-22 05:07:22.050000
26,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472553,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,URINALYSIS: WHITE BLOOD CELLS,4.7,wbc/hpf,2006-04-22 07:22:01.657000
27,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472554,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,CBC: MCH,26.9,pg,2006-04-21 13:50:12.260000
28,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472555,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,CBC: RED BLOOD CELL COUNT,3.8,m/cumm,2006-04-21 23:38:50.183000
29,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472556,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,CBC: HEMATOCRIT,53.2,%,2006-04-22 10:14:44.880000
30,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472557,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,METABOLIC: GLUCOSE,76.2,mg/dL,2006-04-21 15:45:09.213000
31,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472558,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,METABOLIC: BILI TOTAL,0.0,mg/dL,2006-04-21 23:01:42.617000
32,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472559,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,CBC: LYMPHOCYTES,2.0,k/cumm,2006-04-21 11:54:54.903000
33,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472560,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,CBC: WHITE BLOOD CELL COUNT,7.7,k/cumm,2006-04-23 04:54:03.523000
34,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472561,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,METABOLIC: ALK PHOS,86.5,U/L,2006-04-23 05:56:18.233000
35,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472562,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,METABOLIC: AST/SGOT,29.8,U/L,2006-04-22 17:56:38.860000
36,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472563,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,URINALYSIS: SPECIFIC GRAVITY,1.0,no unit,2006-04-22 18:32:30.120000
37,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472564,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,METABOLIC: BILI TOTAL,1.0,mg/dL,2006-04-22 13:34:08.877000
38,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472565,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,URINALYSIS: WHITE BLOOD CELLS,3.2,wbc/hpf,2006-04-22 15:36:39.270000
39,0,0DF482BD-AE45-4DF5-847A-1F39C46B7112,"Major depressive disorder, single episode, mild",F32.0,2472566,0DF482BD-AE45-4DF5-847A-1F39C46B7112,1,METABOLIC: ANION GAP,11.4,mmol/L,2006-04-23 00:42:57.957000

In [3]:

###################################################################################################################
#
# You do:
#  1) Create a list of each lab name ordered and it's count for any patient who also had a diagnosis which 
#     includes the term "Major depressive disorder"

In [19]:
sql = """
SELECT L.LabName, COUNT(L.LabName)
FROM D
INNER JOIN L
ON D.PatientID==L.PatientID
WHERE D.PrimaryDiagnosisDescription LIKE "%Major depressive disorder%"
GROUP BY L.LabName
ORDER by COUNT(L.LabName) DESC
"""
# I was stuck here before class and grabbed this code from your example.
df6 = pd.read_sql_query(sql, conn)
df6

                          LabName  COUNT(L.LabName)
0                        CBC: RDW              7825
1     CBC: WHITE BLOOD CELL COUNT              7817
2             METABOLIC: ALK PHOS              7814
3       CBC: RED BLOOD CELL COUNT              7812
4             CBC: PLATELET COUNT              7802
5             METABOLIC: CHLORIDE              7797
6            METABOLIC: POTASSIUM              7796
7    URINALYSIS: SPECIFIC GRAVITY              7795
8                CBC: LYMPHOCYTES              7784
9               METABOLIC: SODIUM              7776
10      METABOLIC: CARBON DIOXIDE              7770
11                       CBC: MCH              7764
12            METABOLIC: ALT/SGPT              7757
13    URINALYSIS: RED BLOOD CELLS              7757
14                      CBC: MCHC              7754
15   CBC: MEAN CORPUSCULAR VOLUME              7754
16                 CBC: MONOCYTES              7752
17           METABOLIC: ANION GAP              7747
18                CBC: HEMATOCRIT              7743
19               CBC: EOSINOPHILS              7735
20            METABOLIC: AST/SGOT              7729
21       METABOLIC: TOTAL PROTEIN              7728
22                 METABOLIC: BUN              7727
23                 URINALYSIS: PH              7725
24          METABOLIC: BILI TOTAL              7724
25  URINALYSIS: WHITE BLOOD CELLS              7724
26      CBC: ABSOLUTE NEUTROPHILS              7723
27             METABOLIC: ALBUMIN              7716
28      CBC: ABSOLUTE LYMPHOCYTES              7714
29             METABOLIC: GLUCOSE              7711
30          METABOLIC: CREATININE              7709
31               CBC: NEUTROPHILS              7697
32                 CBC: BASOPHILS              7689
33             METABOLIC: CALCIUM              7670
34                CBC: HEMOGLOBIN              7656